.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
doc/api/

# iOS
ios/.symlinks/
ios/Pods/

# Android
android/.gradle/
android/local.properties

# IDE
.idea/
*.iml
.vscode/
